#container{
  margin: 0 auto;
}
#emoji{
  font-size:64px;
  float: right;
}
#loading{
  float:right;
}
div.progress{
  background-color:black;
  border: 1px solid #eaeaea;
  border-radius: 20px;
}
body{
  background-image: url("/img/cube.png");
  color: #eaeaea;
}
h1{
  border-bottom: 2px solid white;
  border-radius: 10px;
  text-align:center;
}
button{
  background: black;
  border-radius: 15px;
}
textarea{
  margin: 0 auto;
  background-color: #eaeaea;
  color:black;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 16px/normal Georgia, serif;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: -2px -1px 6px 0 rgba(180,180,180,1) inset;
  box-shadow: -2px -1px 6px 0 rgba(180,180,180,1) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 200ms cubic-bezier(1, 0, 0, 1);
  -o-transition: all 200ms cubic-bezier(1, 0, 0, 1);
  transition: all 200ms cubic-bezier(1, 0, 0, 1);
}
button:hover{
  border: 2px solid rgba(0, 200, 0, 0.5);
}
.relief {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal normal 400 84px/normal "Mrs Sheppards", Helvetica, sans-serif;
  color: rgb(rgb(255, 253, 211));
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: -6px 3px 0 rgb(100,100,100) , -11px 7px 0 rgb(10,14,39) ;
}

.relief:hover {
  text-shadow: 6px 3px 0 rgb(40, 58, 255) , 11px 7px 0 rgb(10,14,39);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 16px/normal Georgia, serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: -2px -1px 6px 0 rgba(180,180,180,1) inset;
  box-shadow: -2px -1px 6px 0 rgba(180,180,180,1) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 200ms cubic-bezier(1, 0, 0, 1);
  -o-transition: all 200ms cubic-bezier(1, 0, 0, 1);
  transition: all 200ms cubic-bezier(1, 0, 0, 1);
}
